@inject DeviceService DeviceService

<h3>DevicesComponent</h3>

@foreach (var device in Devices)
{
    <div @key="device.Id" class="device">
        <div class="name">
            <span class="caption">デバイス名</span>
            <span class="value">@device.Name</span>
        </div>
        <div class="mac-address">
            <span class="caption">MAC アドレス</span>
            <span class="value">@device.MACAddress</span>
        </div>
    </div>
}

@code {

    IEnumerable<Device> Devices;

    protected override async Task OnInitializedAsync()
    {
        Devices = await DeviceService.GetDevicesAsync();
    }

}
